.Rproj.user
.Rhistory
.RData
*.lnk
*.url
workbook-p1-p2.pdf
workbook-p3-p4.pdf
data/prac1/
data/prac2/
data-user/
workbook-p1-p2.html
workbook-p3-p4.html
*.pptx
*.pdf
data-p3-p4-short-version/prac3-data.gpkg
workbook-p3-p4-short-version.html
notes*.txt
presentation/presentation-p1-p2_files/
presentation/presentation-p1-p2.html
videos/
